* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-style: normal;
}
body {
  background: #f1f1f3;
}
nav {
  display: flex;
  margin: 25px 150px;
  align-items: center;
  justify-content: space-between;
}
nav h4 {
  font-size: 22px;
  font-weight: bold;
}
nav button {
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006a50;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}
.banner h5 {
  color: #918d8d;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}
.banner h3 {
  color: #0e0e0e;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}
.btn-primary {
  background: #006a50;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  padding: 15px 30px;
}
.banner {
  display: flex;
  align-items: center;
  background: #c6e4d6;
  padding: 80px 100px;
  margin: 80px 150px;
  border-radius: 24px;
}
.pillars {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 80px;
}
.pillars h3 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 30px;
}
.innovation {
  display: flex;
  gap: 22px;
}
.innovation-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 24px;
}
.innovation-card img {
  height: 60px;
  width: 60px;
}
.innovation-card h6 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #3f3f3f;
}
.innovation-card p {
  font-size: 14px;
  color: #6a6767;
}
.section-2 {
  margin-left: 150px;
  margin-right: 150px;
}
.future-vision h3 {
  font-size: 25px;
  font-weight: bold;
  color: #0e0e0e;
}
.future-vision p {
  font-size: 14px;
  color: #6a6767;
  margin-top: 20px;
  margin-bottom: 20px;
}
.vision {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-vision {
  background: #cfdaee;
  border-radius: 15px;
  padding: 30px;
}
.card-vision-a {
  background: #c6e4d6;
  border-radius: 15px;
  padding: 30px;
}
.card-vision-b {
  background: #f7ebcf;
  border-radius: 15px;
  padding: 30px;
}
.card-vision img {
  height: 60px;
  width: 60px;
}
.card-vision h6 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #2c2b2b;
}
.card-vision-a h6 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #2c2b2b;
}
.card-vision-b h6 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #2c2b2b;
}
.card-vision p {
  font-size: 14px;
  color: #6a6767;
  margin-top: 20px;
  margin-bottom: 25px;
}
.card-vision-a p {
  font-size: 14px;
  color: #6a6767;
  margin-top: 20px;
  margin-bottom: 25px;
}
.card-vision-b p {
  font-size: 14px;
  color: #6a6767;
  margin-top: 20px;
  margin-bottom: 25px;
}
.btn-a {
  background: #5490f5;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  color: white;
}
.btn-b {
  background: #09a15c;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  color: white;
}
.btn-c {
  background: #ffc239;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  color: white;
}
